@model ServicePostDto
@{
    ViewData["Title"] = "Xidmətlər";
}

<div class="col-md-6 grid-margin stretch-card">
    <div class="card">
        <div class="card-body">
            <h4 class="card-title">Xidmət</h4>
            <div class="alert alert-dismissible alert-danger" asp-validation-summary="ModelOnly">
            </div>
            <form method="post" enctype="multipart/form-data" class="forms-sample">
                <div class="form-group">
                    <label asp-for="Title">Başlıq</label>
                    <input asp-for="Title" class="form-control" placeholder=" Başlıq...">
                    <span class="text text-danger" asp-validation-for="Title"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Description">Açıqlama</label>
                    <input asp-for="Description" class="form-control" placeholder=" Açıqlama...">
                    <span class="text text-danger" asp-validation-for="Description"></span>
                </div>
                <div class="form-group">
                    <label asp-for="formFile">Şəkil</label>
                    <input asp-for="formFile" accept="image/*" class="form-control">
                    <span class="text text-danger" asp-validation-for="formFile"></span>

                </div>
                <button type="submit" class="btn btn-success mr-2">Yadda saxla</button>
                <button class="btn btn-dark" asp-action="Index">Geri</button>
            </form>
        </div>
    </div>
</div>