@model DeliveryPointPostDto
@{
    ViewData["Title"] = "Create";
}

<div class="col-md-6 grid-margin stretch-card">
    <div class="card">
        <div class="card-body">
            <h4 class="card-title">Təhvil Məntəqəsi</h4>
            <div class="alert alert-dismissible alert-danger" asp-validation-summary="ModelOnly">
            </div>
            <form method="post" enctype="multipart/form-data" class="forms-sample">
                <div class="form-group">
                    <label asp-for="Name">Məntəqə Adı</label>
                    <input asp-for="Name" class="form-control" placeholder=" Məntəqə adını daxil edin...">
                    <span class="text text-danger" asp-validation-for="Name"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Adress"></label>
                    <input asp-for="Adress" class="form-control" placeholder=" Adressi daxil edin...">
                    <span class="text text-danger" asp-validation-for="Adress"></span>
                </div>
                <div class="form-group">
                    <label asp-for="City">Şəhər</label>
                    <input asp-for="City" class="form-control" placeholder=" Şəhəri daxil edin...">
                    <span class="text text-danger" asp-validation-for="City"></span>
                </div>
                <div class="form-group">
                    <label asp-for="PackageCapasity">Bağlama Limiti</label>
                    <input asp-for="PackageCapasity" class="form-control" placeholder=" Bağlama limitini daxil edin...">
                    <span class="text text-danger" asp-validation-for="PackageCapasity"></span>
                </div>
                <div class="form-group">
                    <label asp-for="CountryId">Ölkə</label>
                    <select asp-for="CountryId" class="form-control">
                        <option>
                            Ölkəni Seç
                        </option>
                        @foreach (var country in ViewBag.countries)
                        {
                            <option value="@country.Id">@country.Name</option>
                        }
                    </select>
                    <span class="text text-danger" asp-validation-for="CountryId"></span>
                </div>
                <div class="form-group">
                    <label asp-for="BranchId">Filial</label>
                    <select asp-for="BranchId" class="form-control">
                        <option>
                            Filialı Seç
                        </option>
                        @foreach (var branch in ViewBag.branches)
                        {
                            <option value="@branch.Id">@branch.Name</option>
                        }
                    </select>
                    <span class="text text-danger" asp-validation-for="BranchId"></span>
                </div>

                <button type="submit" class="btn btn-success mr-2">Yadda saxla</button>
                <button class="btn btn-dark" asp-action="Index">Geri</button>
            </form>
        </div>
    </div>
</div>

