/* _content/Final/Areas/Admin/Views/Shared/_Layout.cshtml.rz.scp.css */
/* Please see documentation at https://docs.microsoft.com/aspnet/core/client-side/bundling-and-minification
for details on configuring this project to bundle and minify static web assets. */

a.navbar-brand[b-g0y09ofabq] {
  white-space: normal;
  text-align: center;
  word-break: break-all;
}

a[b-g0y09ofabq] {
  color: #0077cc;
}

.btn-primary[b-g0y09ofabq] {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

.nav-pills .nav-link.active[b-g0y09ofabq], .nav-pills .show > .nav-link[b-g0y09ofabq] {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

.border-top[b-g0y09ofabq] {
  border-top: 1px solid #e5e5e5;
}
.border-bottom[b-g0y09ofabq] {
  border-bottom: 1px solid #e5e5e5;
}

.box-shadow[b-g0y09ofabq] {
  box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}

button.accept-policy[b-g0y09ofabq] {
  font-size: 1rem;
  line-height: inherit;
}

.footer[b-g0y09ofabq] {
  position: absolute;
  bottom: 0;
  width: 100%;
  white-space: nowrap;
  line-height: 60px;
}
/* _content/Final/Areas/BranchAdmin/Views/Shared/_Layout.cshtml.rz.scp.css */
/* Please see documentation at https://docs.microsoft.com/aspnet/core/client-side/bundling-and-minification
for details on configuring this project to bundle and minify static web assets. */

a.navbar-brand[b-oqpk4jp8qv] {
  white-space: normal;
  text-align: center;
  word-break: break-all;
}

a[b-oqpk4jp8qv] {
  color: #0077cc;
}

.btn-primary[b-oqpk4jp8qv] {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

.nav-pills .nav-link.active[b-oqpk4jp8qv], .nav-pills .show > .nav-link[b-oqpk4jp8qv] {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

.border-top[b-oqpk4jp8qv] {
  border-top: 1px solid #e5e5e5;
}
.border-bottom[b-oqpk4jp8qv] {
  border-bottom: 1px solid #e5e5e5;
}

.box-shadow[b-oqpk4jp8qv] {
  box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}

button.accept-policy[b-oqpk4jp8qv] {
  font-size: 1rem;
  line-height: inherit;
}

.footer[b-oqpk4jp8qv] {
  position: absolute;
  bottom: 0;
  width: 100%;
  white-space: nowrap;
  line-height: 60px;
}
/* _content/Final/Areas/WareHouseAdmin/Views/Shared/_Layout.cshtml.rz.scp.css */
/* Please see documentation at https://docs.microsoft.com/aspnet/core/client-side/bundling-and-minification
for details on configuring this project to bundle and minify static web assets. */

a.navbar-brand[b-r26833ih64] {
  white-space: normal;
  text-align: center;
  word-break: break-all;
}

a[b-r26833ih64] {
  color: #0077cc;
}

.btn-primary[b-r26833ih64] {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

.nav-pills .nav-link.active[b-r26833ih64], .nav-pills .show > .nav-link[b-r26833ih64] {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

.border-top[b-r26833ih64] {
  border-top: 1px solid #e5e5e5;
}
.border-bottom[b-r26833ih64] {
  border-bottom: 1px solid #e5e5e5;
}

.box-shadow[b-r26833ih64] {
  box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}

button.accept-policy[b-r26833ih64] {
  font-size: 1rem;
  line-height: inherit;
}

.footer[b-r26833ih64] {
  position: absolute;
  bottom: 0;
  width: 100%;
  white-space: nowrap;
  line-height: 60px;
}
/* _content/Final/Views/Shared/_Layout.cshtml.rz.scp.css */
/* Please see documentation at https://docs.microsoft.com/aspnet/core/client-side/bundling-and-minification
for details on configuring this project to bundle and minify static web assets. */

a.navbar-brand[b-rv1mw6xdva] {
  white-space: normal;
  text-align: center;
  word-break: break-all;
}

a[b-rv1mw6xdva] {
  color: #0077cc;
}

.btn-primary[b-rv1mw6xdva] {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

.nav-pills .nav-link.active[b-rv1mw6xdva], .nav-pills .show > .nav-link[b-rv1mw6xdva] {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

.border-top[b-rv1mw6xdva] {
  border-top: 1px solid #e5e5e5;
}
.border-bottom[b-rv1mw6xdva] {
  border-bottom: 1px solid #e5e5e5;
}

.box-shadow[b-rv1mw6xdva] {
  box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}

button.accept-policy[b-rv1mw6xdva] {
  font-size: 1rem;
  line-height: inherit;
}

.footer[b-rv1mw6xdva] {
  position: absolute;
  bottom: 0;
  width: 100%;
  white-space: nowrap;
  line-height: 60px;
}
